@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #142f43;
  --secondary-color: #daddfc;
  --white-color: #aaaaae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  min-height: 80vh;
}

.bg-primary,
.btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
}
nav {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.nav-link {
  color: var(--secondary-color) !important;
}
.nav-link:hover {
  color: var(--white-color) !important;
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.text-primary {
  color: var(--primary-color) !important;
}
body {
  background-image: url('/background.png');
  font-family: 'Open Sans', sans-serif !important;
  /* font-family: 'arial', cursive !important; */
}
.modal-background {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none !important;
}

.icon-color {
  color: #fcfcfc;
}

p {
  line-height: 1.8rem;
}
.service-img {
  transition: 0.5s ease-in-out;
}
.service-img:hover {
  transform: scale(1.1);
}

#process img {
  transition: 0.5s ease-in-out;
}
#process img:hover {
  transform: scale(1.05);
}

.work-link,
.footer {
  color: #298b4b !important;
}

.work-link:hover {
  color: #125028 !important;
}
.card {
  overflow: hidden;
}
.work-img {
  transition: 0.5s ease-in-out;
}
.work-img:hover {
  transform: scale(1.05);
}

.contact-icon {
  font-size: 300%;
  transition: 0.5s ease-in-out;
}

.contact-icon:hover {
  transform: scale(1.07);
}

#clients img {
  filter: grayscale(100%);
  transition: 0.5s ease-in-out;
}
#clients img:hover {
  filter: grayscale(0%);
}

/* CopyRight */
#watermark {
  position: fixed;
  bottom: 70px;
  right: 50px;
  z-index: 999;
}
#watermark::after {
  position: absolute;
  background-image: url('/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 22px;
  content: ' ';
  transform: rotate(-90deg);
}
